<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="../static/styles/style.css" th:href="@{/styles/style.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Madspild</title>
</head>
<body>
<header>
    <h1>Find giver</h1>
</header>

<main id="findgivermain">

        <ul class="findgiverlist" th:each="events : ${Events}">
            <section id="findgiver-type-lokation">
                <h3>Type af giver: </h3>
                <li th:text="${events.getType()}"></li>

                <h3>Lokation: </h3>
                <li th:text="${events.getAddress()}"></li>
            </section>

            <section id="findgiver-description">
                <h3>Beskrivelse: </h3>
                <li th:text="${events.getDescription()}"></li>
            </section>

            <section id="findgiver-time-free">
                <h3>Fra kl: </h3>
                <li th:text="${events.getStart()}"></li>


                <h3>Til kl: </h3>
                <li th:text="${events.getEnd()}"></li>

                <h3>Varighed (i timer): </h3>
                <li th:text="${events.getAmountOfTime()}"></li>


                <h3>Gratis?: </h3>
                <li th:text="${events.getIsGiveAway()}"></li>

            </section>
            <p>-----------------------------------------------------------------------------------------------------------------------</p>



        </ul>
    <h3><a href="index.html" class="button">Gå tilbage</a></h3>

</main>

</body>
</html>