<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="../static/styles/style.css" th:href="@{/styles/style.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Madspild</title>
</head>
<body>
<header>
    <h1>Find giver</h1>
</header>

<main id="findgivermain">

        <ul th:each="events : ${Events}">
            <section>
                <h3>Type af giver: </h3>
                <li th:text="${events.getType()}"></li>

                <div>
                    <h3>Lokation: </h3>
                    <li th:text="${events.getAddress()}"></li>
                </div>

                <div>
                    <h3>Beskrivelse: </h3>
                    <li th:text="${events.getAddress()}"></li>
                </div>

                <div>
                    <h3>Beskrivelse: </h3>
                    <li th:text="${events.getAddress()}"></li>
                </div>

            </section>



        </ul>
    <h3><a href="index.html" class="button">Gå tilbage</a></h3>

</main>

</body>
</html>