<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="../static/styles/style.css" th:href="@{/styles/style.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Madspild</title>
</head>
<body>

<header>
    <h1>Lav en nadver</h1>
</header>

<main>
    <form action="/submit-event" method="post">

        <label for="Type">Type: *</label>
        <div>
            <input type="text" id="Type" name="Type" placeholder="Skriv her">
        </div>


        <div>
            <label for="Adress">Adresse: *</label>
            <div>
                <input type="text" id="Adress" name="Adress" placeholder="Skriv her">
            </div>

        </div>

        <div>
            <label for="Description">Beskrivelse: (max 30 tegn)</label>
            <div>
                <textarea id="Description" name="Description" rows="4" cols="30" placeholder="Skriv her"></textarea>
            </div>
        </div>

        Tidspunkt: *
        <section id="time">
            <div>
            <input type="text" id="Hours" name="Hours" size="10px" placeholder="Starttidspunkt">
            -
            <label for="Minutes"></label>
            <input type="text" id="Minutes" name="Minutes" size="10px" placeholder="Sluttidspunkt">
            </div><label for="Hours"></label>

            </section>

        <div>
            <label for="GiveAway">Gratis:</label>
            <input type="checkbox" id="GiveAway" name="GiveAway">
        </div>

        <div>
            <label for="Password">Adgangskode: *</label>
            <input type="text" id="Password" name="Password" placeholder="****">
        </div>

        <p th:text="${Exception}"></p>

        <section id="makeeventbuttons">
            <button type="submit" class="button">Lav nadver</button>
            <h3><a href="index.html" class="button">Gå tilbage</a></h3>
        </section>
    </form>


</main>

</body>
</html>