<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="../static/styles/style.css" th:href="@{/styles/style.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Om Nadver.dk</title>
</head>
<body>
    <header>
        <h1>Om Nadver.dk</h1>
    </header>

    <main id="om-nadver">
        <section id="generel-info">
            <h3>Generel info</h3>
            <p>Nadver.dk er en simpel hjemmeside, som vil gøre det muligt for virksomheder og organisationer
                at give overskydende mad væk, eller sælge det til en lavere pris. </p><p>
            Formålet er at bekæmpe madspild, og det vil vi gøre så let for alle parter, som muligt.</p>
        </section>

        <section id="lav-nadver-info">
            <h3>Hvordan du laver en nadver</h3>
            <p>På forsiden, er der en knap hvor der står "Lav Nadver". Tryk på denne knap og du vil
            blive ført til en side hvor du skal indtaste relevante oplysninger,</p> <p>som kunden kan
            bruge, og et kodeord så du kan ændre på din nadver, hvis dette bliver nødvendigt.</p>
        </section>

        <section id="find-giver-info">
            <h3>Listen af virksomheder/organisationer som giver mad væk</h3>
            <p>På forsiden, er der en knap hvor der står "Find Giver". Tryk på knappen og du vil blive
            ført til en side, hvor alle der giver mad væk eller sælger det billigere, vil fremgå.</p>
        </section>

        <section id="kode-info">
            <h3>Hvordan du finder din nadver, via. dit kodeord</h3>
            <p>På forsiden, er der endnu en knap som hedder "Ret Nadver". Tryk på knappen og du vil blive
                bedt om dit kodeord, som du har indtastet ved oprettelse af en nadver. </p>
            <p>Herefter vil du få adgang til at kunne slette din nadver.</p>
        </section>
    </main>
</body>
</html>