<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="../static/styles/style.css" th:href="@{/styles/style.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Madspild</title>
</head>
<body>
<header>
    <h1>Ret nadver</h1>
</header>

<main>

    <h2>Chosen event is:</h2>

    <div>
        <section id="elementsSucess">

            <section id="firstTwo">
                <section id="typeSuccess">
                    <h3>Type: </h3>
                    <p th:text="${Type}"></p>
                </section>

                <section id="adressSuccess">
                    <h3>Adresse: </h3>
                    <p th:text="${Adress}"></p>
                </section>
            </section>

            <section id="descriptionSuccess">
                <h3>Beskrivelse: </h3>
                <p th:text="${Description}"></p>
            </section>

            <section id="timeSection">
                <section id="HoursSuccess">
                    <h3>Fra kl: </h3>
                    <p th:text="${Hours}"></p>
                </section>

                <section id="MinutesSuccess">
                    <h3>Til kl: </h3>
                    <p th:text="${Minutes}"></p>
                </section>
            </section>

            <section id="GiveAwaySuccess">
                <h3>Gratis?: </h3>
                <p th:text="${GiveAway}"></p>
            </section>

            <section id="PasswordSuccess">
                <h3>Kodeord: </h3>
                <p th:text="${Password}"></p>
            </section>

        </section>
    </div>

    <form action="/delecteevent" method="post">
        <button type="submit" class="button">slet</button>
    </form>

    <h3><a href="editevent.html" class="button">Søg igen</a></h3>
    <h3><a href="index.html" class="button">Gå til hovedmenu</a></h3>
</main>
</body>
</html>