<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="../static/styles/style.css" th:href="@{/styles/style.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Nadver Success</title>
</head>
<body>

<header>
    <h1>Success!</h1>
</header>

<main>
    <p th:text="${Event}"></p>

    <section id="typeSuccess">
        <h3>Type: </h3>
        <p th:text="${Type}"></p>
    </section>
    <p th:text="${Adress}"></p>
</main>
bbb
katkat
</body>
</html>